@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root{
    --body-fonts : "Open Sans", sans-serif;

    /*==========Brand Colors ==========*/
    --brand-primary-color:  #581c87;
    --brand-secondary-color: #a855f7;
    --tertairy-color: #c8fffd;
    --accent-color-yellow: #ffb836;
    --accent-color-green: #56cdad;
    --accent-color-red: #ff6550 ;
    --accent-color-blue: #26a4ff;
    --accebt-color-purple: #7b61ff;
    --background-color: #f8f8fd;

    /*========== Nautrals Colors ==========*/

    --text-color: #25324b;
    --text-color-100: #25324b;
    --text-color-80: #515b6f;
    --text-color-60: #7c8493;
    --text-color-40: #a8adb7;
    --text-color-20: #e4e5e7;
    --text-color-10: #f9fafc;
    --text-color-zero: #f8f8fd;

     /*========== Heading Fonts size ==========*/
     --heading-1 : 72px;
     --heading-2 : 48px;
     --heading-3 : 32px;
     --heading-4 : 24px;
     --heading-5 : 20px;

       /*========== Body Fonts size ==========*/
    --body-xlarge:20px;
    --body-large:18px;
    --body-normal:16px;
    --body-small :14px;

    --shadow-small-img: drop-shadow(0 4px 4px hsla(0, 0%, 65%, 0.2));
    --shadow-big-img: drop-shadow(0 8px 24px hsla(353, 100%, 8%, .2));

}
body{
    font-family: var(--body-fonts);
    background-color: var(--text-color-10);
    margin: 0;
    padding: 0;
}

/*========== H1H2H3H4=========*/
h1,h2,h3,h4,h5{
    font-family: var(--body-fonts);
     margin: 0;
}
h1{
    font-size: var(--heading-1);
    font-weight: bolder;
}
h2{
    font-size: var(--heading-2);
    font-weight: bold;
}
h3{
    font-size: var(--heading-3);
    font-weight: 600;
}
h4{
    font-size: var(--heading-4);
    font-weight: 600;
}
h5{
    font-size: var(--heading-5);
    font-weight: 600;
}
main {
    padding: 0;
  }
  section {
    margin: 0;
    padding: 0;
  }

/*========== Header=========*/

header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    transition: box-shadow .4s;
    background-color: var(--background-color);
}

ul {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

.container{
    max-width: 1440px;
    /* margin-inline: 1.5rem; */
    align-self: center;
    margin: auto;
}

.nav{
    position: relative;
    padding: 10px 0;
    display: flex;


}


.nav-menu{

    align-items: center;
    column-gap: 4rem;
    justify-content: space-between;
    display: flex;
    position: relative;
}
.nav-button{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.nav-logo img{
    margin-left: 20px;
    width: 28px;
}
.nav-list{
    position: relative;
    display: flex;
    text-align: center;
    column-gap: 3rem;
}
.nav-list-button{
    align-items: center;
    padding-right: 10px;
    position: relative;
    display: flex;
    text-align: center;
    column-gap: .5rem;
}
.nav-list-button li a:hover{
  text-decoration: underline;
}

.bar{
    width: 1px;
    height: 18px;
    background-color:#d1e1f4;;
}

.nav-link{
    text-align: center;
    color: var(--text-color);
    font-family: var(--body-fonts);
    font-size: 18px;
    font-weight: 600;
    position: relative;
}
.nav-link::after{
    content: "";
    width: 0%;
    height: 2px;
    background: var(--brand-primary-color);
    position: absolute;
    bottom: -1rem;
    left: 0px;
    transition: width .5s;
}
.nav-link:hover::after{
    width: 100%;
}

.nav-link-active{
    text-align: center;
    color: var(--text-color);
    font-family: var(--body-fonts);
    font-size: 18px;
    font-weight: 600;
    position: relative;
}

.nav-link-active::after{
    content: "";
    width: 80%;
    height: 2px;
    background: var(--brand-primary-color);
    position: absolute;
    bottom: -1rem;
    left: 0px;
    transition: width .5s;

}
.nav-link-active:hover:after{

    width: 100%;


}
.nav-link-button{
    text-align: center;
    color: var(--brand-primary-color);
    font-family: var(--body-fonts);
    font-size: 18px;
    font-weight: 600;
}

.menu-logo{
    display: none;
    position: relative;
    font-size: var(--heading-4);
    padding-top: 10px;
    padding-right: 20px;
}
.menu-mobile{
    display: none;

}


/*========== Main=========*/


.title-banner{
    top: 0;
    display: flex;
    column-gap: 2rem;
    height: 792px;
    position: relative;
    /* background-color: red; */
}
.title-box{
    position: relative;
    top: 160px;
    left: 125px;
    width: 629px;
    height: 563px;
}
.title-text,.title-strong{
    font-size: 72px;
    line-height: 79.2px;
}
.title-strong{
    color: var(--accent-color-blue);
    font-weight: 500;
}
.banner-des{
    margin-top: 32px;
    margin-bottom: 32px;
    width: 521px;
    height: 64px;
  font-weight: 400;
  color: var(--text-color-80);
}
.banner-img{
    position: absolute;
    width: 561px;
    height: 768px;
    overflow: hidden;
    z-index: 100;
    top: 26px;
    left: 752px;
}
.banner-img img{
    width: 100%;
    height: 100%;
    /* background-color: rebeccapurple; */
    object-fit: contain;
}

.search-box {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    /*border: 1px solid #ccc;*/
    /*border-radius: 3px;*/
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-box input[type="text"] {
    font-family: var(--body-fonts);
    border: none;
    outline: none;
    font-size: var(--body-small);
    padding: 10px;
    flex: 1;
}

.search-box .location-wrapper {
    position: relative;
}
.search-icon{
    font-size: var(--heading-4);
    color: var(--text-color-80);
}

.search-box .location {
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin-left: 10px;
    font-size: var(--body-small);
    color: #5e4c99;
    cursor: pointer;
}
.search-box .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 150px;
    z-index: 1000;
    padding: 0; /* Ensures dropdown items align with container */
}

.search-box .dropdown.active {
    display: block;
}

.search-box .dropdown li {
    padding: 10px;
    cursor: pointer;
    font-size: var(--body-small);
    text-align: left; /* Aligns the text within each list item to the left */
}

.search-box .dropdown li:hover {
    background-color: #f0f0f0; /* Optional: Highlight the item on hover */
}

.search-box .dropdown li:hover {
    background-color: #f0f0f0;
}

.search-box button {
    background-color: var(--brand-primary-color);
    color: var(--background-color);
    font-size: 16px;
    font-family: var(--body-fonts);
    border: none;
    border-radius: 3px;
    padding: 15px 20px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-box button:hover {
    background-color: #4c3b80;
}

.search-box svg {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    color: #888;
}

/*========== Feature Job=========##############################################################*/


.feature-container {
    position: relative;
    width: 100%;
    height: 801px;
    background-color: #ffffff;
    top: 0;
}

.feature-header {
    height: 29px;
    margin: auto;
    width: 1192px;
    position: relative;
    display: flex;
    justify-content: space-between; /* Align items to the start */
    align-items: center; /* Vertically center the items */
    padding-top: 72px;
    gap: 0; /* No space between items */
  }

  .feature-header h4 {

    margin: 0;
    padding: 0 10px; /* Optional padding for some spacing */
  }

  .feature-header a {

    font-size: 16px;
    color: var(--brand-primary-color);
    text-decoration: none;
    font-weight: 700;
     /* Optional small margin between elements */
  }

  .job-list{
    margin: auto;
    position: relative;
    width: 1119px;
    padding-top: 32px;
    display: grid; /* Enable Grid layouts */
    grid-template-columns: repeat(4, minmax(274px, 1fr)); /* Dynamic columns */
    gap: 32px; /* 32px space between both rows and columns */
  }

  .job-box {
    width: 274px;
    height: 270px;
    border: 1px solid var(--text-color-20);
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 16px;

  }
  .job-box:hover{
    background-color: var(--brand-primary-color);
    color: var(--text-color-zero);
  }
  .job-box:hover .job-box-title span{
    color: var(--text-color-zero);
  }
  .job-box:hover .job-box-des{
    color: var(--text-color-zero);
  }
  .job-box:hover .c-logo{
    background-color: var(--text-color-zero);
  }
  .job-box:hover .job-box-header .small-button{
    color: var(--text-color-zero);
    border: 1px solid #ffffff;
  }



  .job-box-header{
    padding: 24px 24px 0px 24px;
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  .c-logo{
    width: 48px;
    height: 48px;
    border-radius: 24px;

    display: flex; /* Enable flexbox */
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */

  }
  .c-logo img{
    width: 28px;
    height: 28px;
    object-fit: contain;

  }
  .small-button {
    color: var(--brand-primary-color);
    width: 86px;
    height: 34px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--brand-primary-color);
    font-size: var(--body-normal);
    text-align: center;
  }

  .job-box-title{
    padding: 0px 24px;
    width: 165px;
    height: 52px;
    display: grid;
    row-gap: 2px;
  }
  .job-box-title h5{
      white-space: nowrap;        /* Prevent the text from wrapping to a new line */
      overflow: hidden;           /* Hide any content that overflows the container */
      text-overflow: ellipsis;
    margin: 0;
  }
  .job-box-title span{
      white-space: nowrap;        /* Prevent the text from wrapping to a new line */
      overflow: hidden;           /* Hide any content that overflows the container */
      text-overflow: ellipsis;
    margin: 0;
    color: var(--text-color-80);
    font-size: var(--body-small);
  }
  .job-box-des{
    padding: 0px 24px;
    height: 44px;
    color: var(--text-color-60);
    font-size: 12px;
    font-weight: 200;
    line-height: 24.2px;
  }

  .job-type-list {
    padding: 0px 24px;
}

.job-type {
    display: inline-block;
    padding: 5px 16px; /* Add horizontal and vertical spacing */
    background-color: rgb(255, 245, 215); /* Set background color */
    color: var(--accent-color-yellow);
    font-size: var(--body-small);
    font-weight: 200;
    border-radius: 80px; /* Add rounded corners for a better appearance */
    text-align: center; /* Center text horizontally */
}
/* ##########Job By Function #########################*/

.job-by-function{
    width: 100%;
    height: 667px;
    background-color: white;
}
.job-by-function-list{
    padding-top: 48px;
    margin: auto;
    width: 1192px;
    height: 450px;
    position: relative;
    display: grid; /* Enable Grid layouts */
    grid-template-columns: repeat(auto-fit, minmax(274px, 1fr)); /* Dynamic columns */
    gap: 32px; /* 32px space between both rows and columns */
}
.function-box{
    width: 274px;
    height: 209px;
    border: 1px solid var(--text-color-20);
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 32px;
}
.function-title{
    padding: 0px 32px;
    width: 210px;
    height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 12px;
}
.function-title h5{
    margin: 0;
    color: var(--text-color-100);
}
.job-available{
    font-size: 18px;
    color: var(--text-color-60);
}
.job-available i{
    font-size: var(--heading-5);
}
.function-icon{
    padding: 32px 0px 0px 32px;
    width: 48px;
    height: 48px;

}
.function-icon i{
    font-size: 48px;
    color: var(--brand-primary-color);
}
.function-box:hover{
    background-color: var(--brand-primary-color);
}
.function-box:hover .function-icon i{
    color: white;
}
.function-box:hover .function-title h5{
    color: white;
}

.function-box:hover .job-available{
        color: white;
}

/* latest job section */

.latest-job-container{
    height: 877px;
    align-items: center;
}
.latest-job-list{
    top: 0;
    right: 0;
    position: relative;
    align-content: center;
    margin: auto;
    margin-top: 60px;
    width: 1192px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Creates 2 equal-width columns */
    gap: 32px; /* Space between grid items */
}
.latest-job-box{
    width: 580px;
    height: 149px;

    background-color: white;
    filter: var(--shadow-small-img);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 32px;
}
.latest-title{
    padding-top: 24px;
    padding-bottom: 24px;
    width: 344px;
    height: 101px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    white-space: nowrap;        /* Prevent the text from wrapping to a new line */
    overflow: hidden;           /* Hide any content that overflows the container */
    text-overflow: ellipsis;
}
.latest-title h5{


}
.latest-job-info{
    display: flex;
    column-gap: 8px;
}
.company-location{
    font-size: var(--body-small);
    font-weight: 400;
}
.company-logo{
    padding-left: 40px;
    padding-top: 24px;
    height: 64px;
    width: 64px;
}
.bar{
    width: 1px;
    height: 34px;
}
.label ,.label-marketing ,.label-design{
    padding: 10px 6px;
    border-radius: 80px;
    font-size: var(--body-small);
}
.label{
    background-color: #56CDAD1A;
    color: var(--accent-color-green);
}
.label-marketing{
    border: 1px solid var(--accent-color-yellow);
    color: var(--accent-color-yellow);
}
.label-design{
    border: 1px solid var(--brand-primary-color);
    color: var(--brand-primary-color);
}

 /* =========================Job Detail Page  =========================*/
.job-details-title{
    top: 184px;
    display: block;
    column-gap: 2rem;

}
.job-details {
    position: relative;
    display: flex;
    justify-content: space-between;
    column-gap: 2rem;
    height: 792px;


}
.job-details .left, .job-details .right {
    width: 48%;
}
.job-details h2 {
    font-size: 20px;
    margin-bottom: 10px;
}
.job-details ul {
    list-style-type: none;
    padding: 0;
}
.job-details ul li {
    margin-bottom: 10px;
}
.job-details .right {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
}
.recruiter {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.recruiter img {
    border-radius: 50%;
    margin-right: 10px;
}
.recruiter .info {
    display: flex;
    flex-direction: column;
}
.recruiter .info .name {
    font-weight: bold;
}
.recruiter .info .title {
    color: #777;
}
.functions, .skills {
    margin-top: 20px;
}
.functions h3, .skills h3 {
    font-size: 18px;
    margin-bottom: 10px;
}
.functions ul, .skills ul {
    list-style-type: none;
    padding: 0;
}
.functions ul li, .skills ul li {
    background-color: #e9e9e9;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}


 /*Job Detail*/ /*Job Detail*/ /*Job Detail*/ /*Job Detail*/ /*Job Detail*/ /*Job Detail*/ /*Job Detail*/

.job-detail-header-box{
    padding-top : 30px;
    position: relative;
    width: 1440px;
    height: 295px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center

}
.job-details-box{
    border: 1px solid var(--text-color-20);
    width: 1187px;
    height: 139.24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.job-details-logo{
    width: 88px;
    height: 91px;
    background-color: burlywood;
}
.job-details-logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.logo-detail{
    margin-left:24px ;
    height: 91.24px;
    display: flex;
    column-gap: 24px;
}
.job-deatail-title{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}
.job-details-title a{
    font-size: var(--body-small);
    font-weight: 400;
    color: var(--text-color-80);
}
.apply-share{
    margin-right: 24px;
    width: 250px;
    height: 58.2px;
    display: flex;
    justify-content: space-between;

    align-items: center;
}
.apply-share button{
    border: none;
    font-size: var(--body-large);
    background-color: var(--brand-primary-color);
    width: 158px;
    height: 57px;
    color: var(--text-color-zero);
}
.apply-share i{
    font-size: 38px;
    color: var(--text-color-80);
}

.line{
    width: 1px;
    height: 100%;
    background-color: var(--text-color-40);
}

.job-details-about-container{
    background-color: white;
    width: 100%;
    height: 100%;

}

.job-details-about{
    padding: 32px 144px;
    height: 1141px;
    display: flex;
    justify-content: space-between;

}
.left{
    width: 724px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    row-gap: 24px;
}
.left h4{
    color: var(--text-color-80);
    font-weight: 400;
}
.job-detail-paragrap{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    margin: 5px;
}
.job-summary,.requirement-box,.requirement-box-list{
    display: flex;
    flex-direction: column;
}
.job-summary p{
    font-size: var(--body-small);
    font-weight: 400;
    color: var(--text-color-80);
}
.job-summary,.requirement-box,.requirement-box-list{
    row-gap: 16px;
}
.requirement-box-list{
    row-gap: 8px;
}
.requirement-box-list span{
    font-size: var(--body-small);
    font-weight: 400;
    color: var(--text-color-80);
}
.requirement-box-list i{
    font-size: var(--heading-5);
    font-weight: 600;
    color: var(--text-color-100);
}
.right{
    width: 404px;
    display: flex;
    flex-direction: column;

    row-gap: 40px;

}
.about-the-post{
    width: 380px;
    height: 338px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.about-the-post h5 {
    color: var(--text-color-80);
}
.progress-box{
    height: 74px;
    background-color: var(--text-color-10);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    row-gap: 8px;
    /* padding: 16px;
    margin: 16px; */

}
.progress-box p{
    padding-left: 16px;
    font-size: var(--body-normal);
    font-weight: bold;
    margin: 0;
}
.progress-box  span{
    font-weight: 500;
    color: var(--text-color-80);
}
.progress-bar{
    margin-left: 16px;
    height: 8px;
    width: 348px;
    background-color: var(--text-color-20);
}
.inner-progress-bar{

    height: 100%;
    width: 148px;
    background-color: var(--accent-color-green);
}
.the-post-box{
    height: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.the-post-box .title{
    font-size: var(--body-normal);
    font-weight: 400;
}
.the-post-box .value{
    font-size: var(--body-normal);
    font-weight: 600;
}
.about-the-post-line{
    width: 351px;
    height: 1px;
    background-color: var(--text-color-20);
}
.about-the-post-functions{

    height: 82px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.about-the-post-functions h5{
    font-weight: 400;
}
.about-the-post-functions-list{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}
.job-function-box-1 ,.job-function-box-2{
    display: inline-block;
    padding: 5px 16px;
    font-size: var(--body-small);
    font-weight: 200;
    border-radius: 80px;
    text-align: center;
}
.job-function-box-1{
    background-color: rgb(255, 245, 215);
    color: var(--accent-color-yellow);
}
.job-function-box-2{
    background-color: rgba(86, 205, 173, 0.1);
    color: var(--accent-color-green);
}
/*Job Detail*/ /*Job Detail*/ /*Job Detail*/ /*Job Detail*/ /*Job Detail*/




/* Navigation for mobile devices *//* Navigation for mobile devices *//* Navigation for mobile devices *//* Navigation for mobile devices *//* Navigation for mobile devices */
/* Navigation for mobile devices */  /* Navigation for mobile devices */   /* Navigation for mobile devices */   /* Navigation for mobile devices */   /* Navigation for mobile devices */

@media screen and (max-width:768px){

    .container{
        width: 430px;
    }
    .nav{
        justify-content: space-between;
    }

    .menu-logo{
        display: block;
    }
    .menu-logo:hover{

        color: var(--brand-primary-color);
    }
    .nav-button{
       display: none;
    }
    .menu-mobile{
        padding-top: 10px;
        background-color: #ffffff;
        display: block;
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
        border-radius: 5px;
        height: 0px;
        opacity: 0;
        transition: height .4s;
    }
    .menu-mobile.active{
        display: block;
        height: 220px;
        opacity: 1;
    }

    .nav-box{

        padding-top: 10px;
        padding-bottom: 10px;
       margin-bottom: 10px;
    }
    .nav-box:hover{
        border-radius: 3px;
        border:1px solid var(--accent-color-green);
        background-color: #dafff393 ;
        color: var(--accent-color-green);
    }
    .a{
        margin-left: 20px;
        font-size: var(--body-small);
        font-weight: 400;
        color: var(--text-color-60);
    }
    .nav-box:hover .a {
        color: var(--accent-color-green)
    }
    .nav-link::after{
        bottom: -.3rem;
    }

    /*========== Main=========*/
    .title-banner{
        position: relative;
        height: 460px;

    }
    .title-box{
       top: 100px;
       width: 430px;
       left: 0px;
    }
    .title-text,.title-strong{
        font-size: 36px;
        line-height: 41.2px;
    }
    .banner-des{
        font-size: 14px;
    }
    .banner-img{
        display: none;
    }
    .search-box {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .search-box input[type="text"] {
        padding: 5px;
        flex: 1;
        font-size: 12px;
        margin-right: 2px;
    }

    .search-icon{
        font-size: var(--heading-5);
    }

    .search-box .location {
        padding: 2px 5px;
        margin-left: 0;
        font-size: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .search-box .dropdown {
        display: none;
        position: absolute;
        top: 100%;
        left: -20px;
        background-color: #ffffff;
        border: 1px solid #ccc;
        border-radius: 3px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        width: 150px;
        z-index: 1000;
        padding: 0; /* Ensures dropdown items align with container */
    }


    .search-box .dropdown li {
        padding: 10px;
        cursor: pointer;
        font-size: var(--body-small);
        text-align: left; /* Aligns the text within each list item to the left */
    }

    .search-box .dropdown li:hover {
        background-color: #f0f0f0; /* Optional: Highlight the item on hover */
    }



    .search-box button {
        padding: 5px 10px;
        border-radius: 2px;
        font-size: 12px;
    }


    .job-list {
        width: 394px;
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: repeat(auto-fit, minmax(292px, 1fr));
        overflow-x: auto;
        gap: 16px;
      }


      .job-list::-webkit-scrollbar {
        height: 8px; /* Optional: Style the scrollbar */
      }

      .job-list::-webkit-scrollbar-thumb {
        background: #888; /* Optional: Style the scrollbar thumb */
        border-radius: 4px;
      }

      .job-list::-webkit-scrollbar-thumb:hover {
        background: #555; /* Optional: Hover effect on the scrollbar */
      }


      /*========== Feature Job=========##############################################################*/


.feature-container {

    height: 448px;
}

.feature-header {
    height: 29px;
    width: 430px;
    padding-top: 40px;
  }

  .feature-header h4 strong{
    font-size: 20px;
  }


  /*.feature-header a {*/
  /*  font-size: 16px;*/
  /*  bottom: -376px;*/
  /*   !* Optional small margin between elements *!*/
  /*}*/

  .job-list{
    padding-top: 24px;
  }
  /* .job-box:hover{
    background-color: var(--brand-primary-color);
    color: var(--text-color-zero);
  }
  .job-box:hover .job-box-title span{
    color: var(--text-color-zero);
  }
  .job-box:hover .job-box-des{
    color: var(--text-color-zero);
  }
  .job-box:hover .c-logo{
    background-color: var(--text-color-zero);
  }
  .job-box:hover .job-box-header .small-button{
    color: var(--text-color-zero);
    border: 1px solid #ffffff;
  } */


/* ##########Job By Function #########################*/

    .job-by-function{
        height: 938px;
    }

    .job-by-function-list{
            padding-top: 24px;
            margin: auto;
            width: 394px;
            grid-template-columns: repeat(1,1fr);
            gap: 16px;
    }
    .function-box{
            width: 394px;
            height: 84px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            column-gap: 32px;
    }
    .function-title{
            padding: 16px 0px;
            width: 290px;
            height: 52px;
            row-gap: 2px;
        }
        .function-title h5{
            margin: 0;
            color: var(--text-color-100);
        }
        .job-available{
            font-size: 16px;
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        .job-available i{
            font-size: var(--heading-4);
            color: var(--text-color-100);
        }
        .function-icon{
            padding: 16px 0px 0px 16px;
            width: 40px;
            height: 40px;

        }



        /* latest job section */

.latest-job-container{
    height: 1436px;
}
.latest-job-list{
    margin-top: 16px;
    width: 394px;
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Creates 2 equal-width columns */
    gap: 16px;
}
.latest-job-box{
    width: 394px;
    height: 205px;
    flex-direction: column;
    row-gap: 24px;
}
.latest-title{
    padding: 0px 16px;
    width: 284px;
    height: 104px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}
.latest-job-info{
    display: flex;
    column-gap: 8px;
}
.company-location{
    font-size: var(--body-small);
    font-weight: 400;
}
.company-logo{
    padding-left: 16px;
    padding-top: 16px;
    height: 48px;
    width: 48px;
}
.bar{
    width: 1px;
    height: 34px;
}
.label ,.label-marketing ,.label-design{
    padding: 10px 6px;
    border-radius: 80px;
    font-size: var(--body-small);
}
.label{
    background-color: #56CDAD1A;
    color: var(--accent-color-green);
}
.label-marketing{
    border: 1px solid var(--accent-color-yellow);
    color: var(--accent-color-yellow);
}
.label-design{
    border: 1px solid var(--brand-primary-color);
    color: var(--brand-primary-color);
}



    /*========== Main=========*/
}
